.heading {
    text-align: center;
    color:black;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.name {
    text-align: center;
    color:black;
}
.career {
    text-align: center;
    color:black;
}
.github{
    text-align: center;
    color:pink
}